@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li {
    text-align: center;
}

li:last-child {
    border-bottom: none;
}

li a{
    display: block;
    width: 100px;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.active {
    background-color: #04AA6D;
    color: white;
}

li a:visited {
    color: black;
}